* {
	margin:0;
	padding: 0;
}

body {
	background-color: black;
	font-family: Tahoma;
	color: #778899;
}

.header {
	height: 100px;
	color: white;
	text-align: center;
}

nav {
	list-style-type: none;
	text-align: center;
	width: 100%;
	min-height: 550px;
}

nav li {
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

h1{
	text-align: center;
}
#sidebar {
	background-color: #c8c8c8;
	float: left;
	width: 20%;
}

#main {
	background-color: #f8f8f8;
	float: left;
	width: 80%;
	min-height: 550px;
}

#footer {
	clear: both;
	height: 80px;
}

p{
	text-align: center;
}

img{
	width:400px;
	height:auto;
}